@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lato';
    src: url('./assets/Fonts/Lato-Light.ttf')
}

@font-face {
    font-family: 'headerFont';
    src: url('./assets/Fonts/DarumadropOne-Regular.ttf')
}


@font-face {
    font-family: 'basicText';
    src: url('./assets/Fonts/AtkinsonHyperlegibleMono-Medium.ttf')
}